In [ ]:
#| hide
%load_ext autoreload
%autoreload 2

In [ ]:
# | hide
from lobster_tools.preprocessing import *
from lobster_tools.querying import *

# Getting started ðŸ¦ž

> A python package for working with [LOBSTER data](https://lobsterdata.com/), the limit order book data from Nasdaq.

## Install

::: {.panel-tabset}

#### pip

```sh
pip install -U lobster-tools
```

#### conda

```sh
conda install -c conda-forge? lobster-tools
```

:::

## How to use

In [ ]:
lobster = load_lobster(ticker="AMZN", date_range="2012-06-21", load="both")

lobster.messages.head()

['../data/AMZN_2012-06-21_2012-06-21_5']

                               event  order_id  size   price  direction ticker
datetime
2012-06-21 09:30:00.017459617      5         0     1  223.82         -1   AMZN
2012-06-21 09:30:00.189607670      1  11885113    21  223.81          1   AMZN
2012-06-21 09:30:00.189607670      1   3911376    20  223.96         -1   AMZN
2012-06-21 09:30:00.189607670      1  11534792   100  223.75          1   AMZN
2012-06-21 09:30:00.189607670      1   1365373    13  224.00         -1   AMZN

In [ ]:
(lobster.messages.pipe(query_by_event, event="execution").pipe(get_buy).head())

                               event  order_id  size   price  direction ticker
datetime
2012-06-21 09:30:00.190226476      4  11885113    21  223.81          1   AMZN
2012-06-21 09:30:00.190226476      4  11534792    26  223.75          1   AMZN
2012-06-21 09:30:00.874913031      4  16289323   100  223.84          1   AMZN
2012-06-21 09:30:07.232650402      4  16451737    13  223.89          1   AMZN
2012-06-21 09:30:12.165315424      4  17084297   100  223.93          1   AMZN

In [ ]:
lobster.book.head()

,ask_price_1,ask_size_1,bid_price_1,bid_size_1,ask_price_2,ask_size_2,bid_price_2,bid_size_2,ask_price_3,ask_size_3,...,bid_price_8,bid_size_8,ask_price_9,ask_size_9,bid_price_9,bid_size_9,ask_price_10,ask_size_10,bid_price_10,bid_size_10
datetime,,,,,,,,,,,,,,,,,,,,,
2019-01-02 03:08:36.253659641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02 04:00:00.030994898,NaN,NaN,7.01,400.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02 04:00:00.031785491,10.99,53.0,7.01,400.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02 04:00:00.032366928,10.99,53.0,7.01,400.0,11.97,60.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02 04:00:00.033012154,10.95,60.0,7.01,400.0,10.99,53.0,NaN,NaN,11.97,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN